<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/theme.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/Control.Geocoder.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
              integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
              crossorigin=""/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
                integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
                crossorigin=""></script>
        <script src="{{ asset('js/Control.Geocoder.js') }}"></script>
        {% block javascript %}{% endblock %}
    </head>
    <body>
    <nav id="navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#myNavigationBar">
                    <span class="sr-only">Rozwiń menu
                    </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('main') }}"><span><b>Bird Watchers</b></span> </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavigationBar">
                <ul class="nav navbar-nav">
                    <li><a class="btn btn-default btn-sm" href="{{ path('project') }}"><span>O projekcie</span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('ROLE_USER') %}
                        <li><a class="btn btn-default btn-sm" href="{{ path('addMap') }}"><span class="glyphicon glyphicon-plus"></span> Dodaj </a></li>
                        <li><a class="btn btn-default btn-sm" href="{{ path('map') }}"><span class="glyphicon glyphicon-globe"></span> Obserwacje </a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> Profil
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('updateProfile') }}">Edytuj dane profilowe</a></li>
                                <li><a href="{{ path('changeUserData') }}">Zmień hasło/email</a></li>
                                <li><a href="#">Usuń konto</a></li>
                            </ul>
                        </li>
                        <li><a class="btn btn-default btn-sm" href="{{ logout_path('main') }}"><span class="glyphicon glyphicon-log-out"></span> Wylogowanie </a></li>
                    {% else %}
                        <li><a class="btn btn-default btn-sm" href="{{ path('addUser') }}"><span class="glyphicon glyphicon-user"></span> Rejestracja</a></li>
                        <li><a class="btn btn-default btn-sm" href="{{ path('security_login') }}"><span class="glyphicon glyphicon-log-in"></span> Logowanie</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row" style="height: 80px"></div>
        {% block container %}{% endblock %}
    </div>
    <div id=footer class="container">
        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-success">Copyright &copy; Mateusz Stalmach 2017</p>
                </div>
            </div>
        </footer>

    </div>
    </body>
</html>
